html, body {
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.calculator-container {
    display: grid;
    grid-template-columns: 
        repeat(4, 100px);

    grid-template-rows:
        repeat(6, 90px);

    gap: 5px;
    padding: 10px;
    align-self: center;
    justify-self: center;
    background-color: slateblue;
    border-radius: 5%;

}

.calc-button {
    color: white;
    background-color: slategray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 1.5rem;
    border: solid 1px black;
    text-align: center;
    border-radius: 5%;
}

.num-button:hover{
    background-color: rgb(173, 173, 173);
}

.grid-col-span-4 {
    grid-column: span 4;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.num-display {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 3rem;
    padding: 20px;
    text-align: center;
    background-color: #ebc3e1 ;
    border: solid 1px black;
}

.blue-button {
    background-color: blueviolet;
}

.blue-button:hover {
    background-color: rgb(168, 105, 226)
}

.orange-button{
    background-color: rgb(255, 109, 56);
}

.orange-button:hover {
    background-color: rgb(255, 68, 0);
}

.num-display {
    font-family: monospace;
}

    